@import "../../common/scss";

.home {
  background-color: white;
}

.body {
  display: flex;
  flex-direction: column;
  max-width: #{$desktop-width};
  margin-left: auto;
  margin-right: auto;

  @include desktop {
    flex-direction: row-reverse;
    padding: 40px 130px;
  }

  .heroImage {
    width: 100%;
    margin-bottom: 46px;

    @include desktop {
      & {
        width: 480px;
        height: auto;
      }
    }
  }

  h1 {
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 0;
    }
  }

  section {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      gap: 48px;
      padding: 103px 150px 100px 35px;
      align-items: start;
      text-align: left;
    }
  }

  p {
    color: var(--color-medium-gray);
    line-height: 1.6;
    margin-bottom: 25px;

    @include desktop {
      padding-right: 32px;
      margin-bottom: 0;
    }
  }

  .learnMoreButton {
    margin-bottom: 48px;
    @include desktop {
      margin-bottom: 60px;
    }
  }
}

.clientLogos {
  display: flex;
  gap: 28px;
  align-items: center;
  width: 100%;
  justify-content: center;

  @include desktop {
    justify-content: start;
    gap: 40px;
  }

  img {
    object-fit: contain;
    width: 100%;
  }
}

.registerButton {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
}
