$desktop-width: 1440px;

@mixin desktop {
  @media screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin resetButton {
  background-color: transparent;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 16px;
}
