@import "../../../common/scss";

.menu {
  display: flex;
  flex-direction: row;
  padding: 24px 16px;
  text-align: left;

  li a {
    text-decoration: none;
    color: var(--color-medium-gray);
  }

  @include desktop {
    & {
      padding: 32px 42px;
    }
  }
}

.mobileMenuIcon {
  margin-left: auto;

  @include desktop {
    display: none;
  }
}

.mobileMenu {
  @include desktop {
    display: none;
  }
}

.desktopMenu {
  display: none;
  @include desktop {
    display: block;
  }
}
