@import "../../../common/scss";

.menu {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 24px 16px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: white;

  li a {
    text-decoration: none;
    color: var(--color-medium-gray);

    @include desktop {
      color: var(--color-link-inactive);
    }
  }

  @include desktop {
    & {
      padding: 20px 40px 22px 42px;
      background-color: var(--color-almost-white);
    }
  }
}

.snapLogo {
  height: fit-content;
  @include desktop {
    padding-top: 12px;
    margin-right: 61px;
  }
}

.mobileMenuIcon {
  margin-left: auto;

  @include desktop {
    display: none;
  }
}

.navWrapper {
  @include desktop {
    width: 100%;
  }
}

.mobileMenu {
  @include desktop {
    display: none;
  }
}

.desktopMenu {
  display: none;

  @include desktop {
    display: flex;
  }

  .rightItems {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    gap: 22px;
    a {
      padding: 12px 21px;
    }
  }
}
