@import "../scss";

.button {
  display: inline-block;
  padding: 16px 22px;
  background-color: var(--color-almost-black);
  color: white;
  border-radius: 14px;
  text-decoration: none;

  @include desktop {
    & {
      padding: 20px 30px;
    }
  }
}
