@import "../../common/scss";

.menuItem {
  display: flex;
  align-items: center;
  a {
    white-space: nowrap;

    &:hover {
      color: var(--color-almost-black);
      font-weight: 500;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 16px;

  @include desktop {
    width: 16px;
    height: 16px;
  }
}
